<div class="container height">
  <h1>商品編集</h1>
  <%= form_for(@item, url:admin_item_path) do |f| %>
    <div class="row">
      <label>商品画像</label>
      <%= f.file_field :image, accept: "image/*" %><br>
    </div>
  <div class="col-xs-8">
      <%= f.label :"商品名", class:"col-xs-3" %>
      <%= f.text_field :name, class:"col-xs-8" %><br>
      <%= f.label :"商品説明", class:"col-xs-3" %>
      <%= f.text_area :introduction, class:"col-xs-8" %><br>
      <%= f.label :"ジャンル", class:"col-xs-3" %>
  <!--<div class="field">-->
      <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "--選択してください--"} %><br>
  <!--</div>-->
      <%= f.label :"税別価格", class:"col-xs-3" %>
  <!--<div class="field">-->
      <%= f.text_field:price, autofocus: true, autocomplete:"price", class:"col-xs-5" %>円<br>
  <!--</div><br>-->
      <%= f.label :"販売ステータス", class:"col-xs-3" %>
      <%= f.radio_button :is_active, true, class:"col-xs-8" %>
      <%= f.label :is_active, "販売中" ,{value: :true, style: "display: inline-block;" } %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block"} %><br>
      <%= f.submit '変更を保存', class: "btn btn-primary" %>
  <% end %>
  </div>
</div>