<h2>注文履歴詳細</h2>
<table>
  <thead>
    <tr><th>購入者</th><td><%= @order.name %></td></tr>
    <tr><th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td></tr>
    <tr><th>配送先</th><td><%= @order.postcode %><% @order.address %><% @order.name %></td></tr>
    <tr><th>支払方法</th><td><%= @order.payment_method %></td></tr>
    <tr>
      <th>注文ステータス</th>
      <td><%= form_with(model: @order, url: admin_order_path, method: :patch, local:true) do |f| %>
            <%= f.select :status, Order.order_statuses.key %>
            <%= f.submit '更新' %>
          <% end %>
      </td>
    </tr>
  </thead>
</table>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.add_tax_sales_price.to_s(:dalimited) %></td>
        <td><%= order_detail.amount %></td>
        <td><%= sub_price(order_detail %></td>
        <td>
          <%= form_with(model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch, local: true) do |f| %>
            <%= f.select :production_status, OrderDetail.production_status.keys %>
            <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr><th>商品合計</th><td><%= total_price(order.order_detail) %></td></tr>
    <tr><th>送料</th><td><%= order.postage %></td></tr>
    <tr><th>請求金額合計</th><td><%= total_price(@order.order_details) + @order.postage %></td></tr>
  </thead>
</table>