<div class="container height">
  <div class="row">
    <div class="col-xs-12">
      <h2>注文履歴詳細</h2>
<table>
  <thead>
    <tr><th>購入者</th><td><%= @order.customer.last_name %><%= @order.customer.first_name %></td></tr>
    <tr><th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td></tr>
    <tr><th>配送先</th><td><%= @order.postcode %><%= @order.address %><%= @order.customer.last_name %><%= @order.customer.first_name %></td></tr>
    <tr><th>支払方法</th><td><%= @order.payment_method %></td></tr>
    <tr>
      <th>注文ステータス</th>
      <td>
        <%= form_with model: @order, url: admin_order_path(@order.id), local:true do |f| %>
            <%= f.select :order_status, ["入金待ち", "入金確認", "製作中", "発送準備中", "発送済み"] %>
            <%= f.submit '更新' %>
        <% end %>
      </td>
    </tr>
  </thead>
</table>
    </div>
  <div class="row">
    <div class="col-xs-9">
      <table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% total = 0 %>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <%#= order_detail.item.add_tax_sales_price.to_s(:dalimited) %>
        <td><%= (order_detail.item.add_tax_sales_price*1.1).to_i %></td>
        <td><%= order_detail.amount %></td>
        <%#= (order_detail.item.add_tax_sales_price * order_detail.amount).to_s(:dalimited) %>
        <td><%= ((order_detail.item.add_tax_sales_price * order_detail.amount)*1.1).to_i %>
            <% total += ((order_detail.item.add_tax_sales_price*order_detail.amount)*1.1).to_i %>
        </td>
        <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), local: true do |f| %>
            <%= f.select :production_status, ["着手負荷", "製作待ち", "製作中", "製作完了"] %>
            <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>

<table>
  <thead>
    <tr><th>商品合計</th><td><%= total %></td></tr>
    <tr><th>送料</th><td><%= @order.postage %></td></tr>
    <tr><th>請求金額合計</th><td><%= total + @order.postage %></td></tr>
  </thead>
</table>
  </div>
</div>
