<h4>配送先編集</h4>
<%= form_for(@address, url: address_path(@address.id)) do |f| %>
  <p>郵便番号<%= f.text_field: postal_code %></p>
  <p>住所<%= f.text_field: address %></p>
  <p>宛名<%= f.text_field: name %></p>
  <%= f.submit '編集する' %>
<% end %>
